<section class="page">
  <div class="section_top_padding">
    <div class="container-fluid">
      <div class="page_title_sec">
        <h2 class="sub_title">
          <mat-icon class="v-align-middle display">description</mat-icon>
          <span class="v-align-middle">Part Documentation</span>
        </h2>
        <div class="table_search">
          <input class="form-control" type="text" name="search" placeholder="Search">
        </div>
      </div>
      <mat-card class="card_sec">
        <mat-card-content class="table-responsive">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Part Number</th>

                <th>Customer</th>

                <th>Machine</th>

                <th>Program Number</th>

                <th>Revision</th>

                <th>Last Edit Date</th>

                <th>Editor</th>

                <th>Parts produced in this setup</th>

                <th>Job Number</th>

                <th>Drawing</th>

              </tr>
            </thead>

            <tr>
              <td>1</td>
              <td>0001</td>
              <td>Bosing
                <div>
                  <button mat-raised-button class="filter_btn btn_orange">
                    Version History</button>
                </div>
              </td>
              <td>VMC-1</td>
              <td>8978-8761</td>
              <td>4</td>
              <td>29/02/2020</td>
              <td>priya</td>
              <td>2500</td>
              <td>Uiy-097-765</td>
              <td>
                <div class="drawing_img">
                  <img src="../../../assets/images/no_img.png">
                  <div class="share_icon">
                    <a href="javascript:;" matTooltip="Share">
                      <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
