.filter_btn{
    text-transform: capitalize;
    &.btn_orange{
        color: #fff;
        background-color: #f58632;
        border-color: #f58632;
    }
  }
  .form_sec{
      display: flex;
    .mr-3{
        margin-right: 20px;
    }
  }


  .custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin-bottom: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .65rem + 2px);
    padding: 0.21rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #495562;
  }

.custom-file-label{
  &::after{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: block;
      height: calc(1.12rem + .65rem);
      padding: 0.375rem 0.95rem;
      line-height: 2.1;
      color: #fff;
      content: "Browse";
      background-color: #605f60;
      border-left: inherit;
      border-radius: 0 .25rem .25rem 0;
  }
}
.row_sec{
  display: flex;
  margin: 16px 0!important;
  .custom-file{
    &:first-child{
      margin-right: 10px;
    }
  }

}

.page_title_sec{
  align-items: unset!important;
}