
footer.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #2f333e;
  color: #fff;
  padding: 4px;
  /* padding: 8px 10px; */
}
footer.main-footer p {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0px!important;
}
footer.main-footer a {
  color: #fff;
}
.company_name{
  font-size: 25px;
  font-weight: 800;
}
header.header{
  background: #fff;
  color: #666;
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.page-title{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.navbar-header .brand-logo img {
  width: 177px;
}
:ng-deep  .td-table-wrapper {
  max-height: calc(100vh - 335px)!important;
}
.btn-primary {
  color: #fff;
  background-color: #f49322;
  border-color: #f98907;
}
.custom-file-label::after {
  color: #ffffff;
  background-color: #605f60;
}
.compare_table {
  padding-bottom: 25px;
}
.page-title h2 {
  font-size: 20px;
}
.file-path {
  display: flex;
  justify-content: space-between;
}
.label label {
  padding: 0px 7px 0px 0px;
  font-weight: 500;
}
.file-path p span{
  padding: 0px 4px 0px 0px;
  font-weight:500;
}
/* .page-title.reason {
  border: 2px solid #000;
  padding: 10px 20px;
  margin-bottom: 4rem;
} */

.page-title.reason ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
  height: 0px;
}

.page-title.reason ::ng-deep .mat-form-field-infix{
  border:1px solid #ddd;
  width: 510px;
}
.page-title.reason h4{
  margin-right: 10px;
  font-size: 21px
}
.submit-btn{
  text-align: right;
  padding: 1rem 7rem;
}

.page-title.reason form{
  display: flex;
}
.back.mat-icon.notranslate.material-icons.mat-icon-no-color {
  vertical-align: middle;
}
.home-back {
  padding: 10px 10px;

}
.home-back a{
  color:#000000;
}
/* .home-back a:hover{
  color:#000000;
  text-decoration: none;  `
} */

.s1
{
  font-variant: small-caps;
  font-size: 30px;
  
}
.base
{
  color:black;
 
}
::ng-deep .mat-dialog-container#mat-dialog-0 {
  padding: 0px;
}
label.home-label {
  width: 40%;
  }

.input-label ::ng-deep .mat-form-field-infix{
  width: 203px;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .col-md-6 {
    width: calc(100% /2 - 1%);
  }
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}
.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  
  left: 0;
  z-index: 1;
  // height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  display: inline-block;
  margin-bottom: .5rem;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  // height: 2.25rem;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 .25rem .25rem 0;
}
.custom-file-label::after {
  color: #fff;
  background-color: #605f60;
}
.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Browse";
}
.page-title h2 {
  font-size: 20px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary{
  color: #fff;
  background-color: #f49322;
  border-color: #f98907;
}