<section class="page">
  <div *ngIf="myLoader" class="spinner">
    <img src="assets/images/spinner.gif">
  </div>
    <div class="section_top_padding">
      <div class="container-fluid">
        <div class="page_title_sec">
          <h2 class="sub_title">
            <mat-icon class="v-align-middle display">laptop</mat-icon>
            <span class="v-align-middle">Operator Allocation</span>
          </h2>
          <div class="add_new">
            <mat-icon class="circle" (click)="user()">add</mat-icon>
          </div>
        </div>
        <div class="page_title_sec align_right">
          <div class="table_search">
            <input class="form-control"(keyup)="dongly($event.target.value)" type="text" name="search" [(ngModel)]="search" placeholder="Search ">
          </div>
        </div>
        <mat-card class="card_sec">
          <mat-card-content class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef = "let i=index;"> {{i+1}} </td>
            </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="operator_name">
                <th mat-header-cell *matHeaderCellDef> Operator Name </th>
                <td mat-cell *matCellDef="let element"> {{element.operator.operator_name || '---'}} </td>
              </ng-container>
  
              <!-- Weight Column -->
              <ng-container matColumnDef="operator_id">
                <th mat-header-cell *matHeaderCellDef> Operator Id </th>
                <td mat-cell *matCellDef="let element"> {{element.operator.operator_spec_id || '---'}} </td>
              </ng-container>
  
  
              <!-- Weight Column -->
              <ng-container matColumnDef="machine_name">
                <th mat-header-cell *matHeaderCellDef> Machine Name </th>
                <td mat-cell *matCellDef="let element"> {{element.machine.machine_name || '---'}} </td>
              </ng-container>
  
  
              <!-- Weight Column -->
              <ng-container matColumnDef="machine_id">
                <th mat-header-cell *matHeaderCellDef> Machine Id </th>
                <td mat-cell *matCellDef="let element"> {{element.machine.machine_type || '---'}} </td>
              </ng-container>
  
  
              <!-- Weight Column -->
              <ng-container matColumnDef="shift">
                <th mat-header-cell *matHeaderCellDef> Shift </th>
                <td mat-cell *matCellDef="let element"> {{element.shifttransaction.shift_no || '---'}} </td>
              </ng-container>
  
  
              <!-- Weight Column -->
              <ng-container matColumnDef="shifttime">
                <th mat-header-cell *matHeaderCellDef> Shift Time </th>
                <td mat-cell *matCellDef="let element"> {{element.shifttransaction.shift_start_time}}-{{element.shifttransaction.shift_start_time }} </td>
              </ng-container>
  
              <!-- Weight Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description || '---'}} </td>
              </ng-container>
  
              <!-- Weight Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> From-To Date </th>
                <td mat-cell *matCellDef="let element"> {{element.from_date}}-{{element.to_date || '---'}}</td>
              </ng-container>
  
              <!-- Weight Column -->
              <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef> Created </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at || '---'}} </td>
              </ng-container>
  
  
  
              <ng-container matColumnDef="action">
                <!-- <mat-header-cell *matHeaderCellDef> Action </mat-header-cell> -->
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <ul *matCellDef="let element" class="table_action">
                  
                  <li>
                    <mat-icon mat-button aria-hidden="false" aria-label="Example home icon" (click)="operator_delete(element.id)"
                      mattooltip="Delete">delete
                    </mat-icon>
                  </li>
                </ul>
                <!-- <mat-cell *matCellDef="let element">
                <mat-icon mat-button aria-hidden="false" aria-label="Example home icon" (click)="operator_edit()">edit
                </mat-icon>
                <mat-icon mat-button aria-hidden="false" aria-label="Example home icon" (click)="operator_delete()">delete
                </mat-icon>
              </mat-cell> -->
              </ng-container>
  
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
          </mat-card-content>
          <mat-card-content *ngIf="allocation.length==0" class="no_data_found">
            <h2>No data found</h2>
          </mat-card-content> 
        </mat-card>
      </div>
    </div>
    <table>
      <tr>
        <th>#</th>
        <th>Operator Name</th>
        <th>Operator Id</th>
        <th>Machine Name</th>
        <th>Machine Id</th>
        <th>Shift</th>
        <th>Shift Time</th>
        <th>Description</th>
        <th>From To Date</th>
        <th>created</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let show_report of get_report" (click)="alocate(operator.id)" [ngClass]="{'active': operator.id == subid && IsVisible }">
        <td>1</td>
        <td>{{show_report?.operator.operator_name}}</td>
        <td>{{show_report?.operator.operator_spec_id}}</td>
        <td>{{show_report?.machine.machine_name}}</td>
        <td>{{show_report?.machine.machine_type}}</td>
        <td>{{show_report?.shifttransaction.shift_no }}</td>
        <td>{{show_report?.shifttransaction.shift_start_time}}-{{show_report?.shifttransaction.shift_start_time}}</td>
        <td>{{show_report?.description}}</td>
        <td>{{show_report?.from_date }}-{{show_report?.to_date }}</td>
        <td>{{show_report?.created_at}}</td>
        <td>edit</td>
      </tr>

      <tr *ngIf="operator.id == subid" *ngShow="IsVisible" *ngFor="operator1 in operator.operator_mapping_allocations">
        <td>2</td>
        <td>{{ operator1.operator.operator_name}}</td>
        <td>{{ operator1.operator.operator_spec_id}}</td>
        <td>{{ operator.machine.machine_name}}</td>
        <td>{{ operator.machine.machine_type}}</td>
        <td>{{operator.shifttransaction.shift_no}}</td>
        <td>{{operator.shifttransaction.shift_start_time}} - {{operator.shifttransaction.shift_end_time}}</td>
        <td>{{ operator.description }}</td>
        <td>{{ operator1.date }}</td>
        <td>{{ operator1.created_at }}</td>
        <!-- <td ng-show="{{todaydat <= operator1.date}}">
          <a ngHide="role_Setup == 'operator' || role_Setup == 'supervisor'" class="edit" data-toggle="modal"  data-target="#exampleModalLabel" title="Edit" (click)="edit(operator.id,operator1)"> <i class="fa fa-pencil"></i></a>
        </td> -->
        
      </tr>
      
    </table>
  </section>


 
  